src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/Project03_SOA_Group03/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/Project03_SOA_Group03/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="get_Customer_1">
<part name="parameters" element="tns:get_Customer_1"/>
</message>
<message name="get_Customer_1Response">
<part name="parameters" element="tns:get_Customer_1Response"/>
</message>
<message name="get_Customer">
<part name="parameters" element="tns:get_Customer"/>
</message>
<message name="get_CustomerResponse">
<part name="parameters" element="tns:get_CustomerResponse"/>
</message>
<message name="get_comment_1">
<part name="parameters" element="tns:get_comment_1"/>
</message>
<message name="get_comment_1Response">
<part name="parameters" element="tns:get_comment_1Response"/>
</message>
<message name="get_comment">
<part name="parameters" element="tns:get_comment"/>
</message>
<message name="get_commentResponse">
<part name="parameters" element="tns:get_commentResponse"/>
</message>
<message name="get_orders">
<part name="parameters" element="tns:get_orders"/>
</message>
<message name="get_ordersResponse">
<part name="parameters" element="tns:get_ordersResponse"/>
</message>
<message name="get_orders_1">
<part name="parameters" element="tns:get_orders_1"/>
</message>
<message name="get_orders_1Response">
<part name="parameters" element="tns:get_orders_1Response"/>
</message>
<message name="get_location">
<part name="parameters" element="tns:get_location"/>
</message>
<message name="get_locationResponse">
<part name="parameters" element="tns:get_locationResponse"/>
</message>
<message name="get_location_1">
<part name="parameters" element="tns:get_location_1"/>
</message>
<message name="get_location_1Response">
<part name="parameters" element="tns:get_location_1Response"/>
</message>
<message name="get_invoices_1">
<part name="parameters" element="tns:get_invoices_1"/>
</message>
<message name="get_invoices_1Response">
<part name="parameters" element="tns:get_invoices_1Response"/>
</message>
<message name="get_invoices">
<part name="parameters" element="tns:get_invoices"/>
</message>
<message name="get_invoicesResponse">
<part name="parameters" element="tns:get_invoicesResponse"/>
</message>
<message name="get_vehicle">
<part name="parameters" element="tns:get_vehicle"/>
</message>
<message name="get_vehicleResponse">
<part name="parameters" element="tns:get_vehicleResponse"/>
</message>
<message name="get_vehicle_1">
<part name="parameters" element="tns:get_vehicle_1"/>
</message>
<message name="get_vehicle_1Response">
<part name="parameters" element="tns:get_vehicle_1Response"/>
</message>
<message name="get_pricing_1">
<part name="parameters" element="tns:get_pricing_1"/>
</message>
<message name="get_pricing_1Response">
<part name="parameters" element="tns:get_pricing_1Response"/>
</message>
<message name="get_pricing">
<part name="parameters" element="tns:get_pricing"/>
</message>
<message name="get_pricingResponse">
<part name="parameters" element="tns:get_pricingResponse"/>
</message>
<message name="get_employees">
<part name="parameters" element="tns:get_employees"/>
</message>
<message name="get_employeesResponse">
<part name="parameters" element="tns:get_employeesResponse"/>
</message>
<message name="get_employee">
<part name="parameters" element="tns:get_employee"/>
</message>
<message name="get_employeeResponse">
<part name="parameters" element="tns:get_employeeResponse"/>
</message>
<message name="get_truck_1">
<part name="parameters" element="tns:get_truck_1"/>
</message>
<message name="get_truck_1Response">
<part name="parameters" element="tns:get_truck_1Response"/>
</message>
<message name="get_truck">
<part name="parameters" element="tns:get_truck"/>
</message>
<message name="get_truckResponse">
<part name="parameters" element="tns:get_truckResponse"/>
</message>
<message name="get_expenses">
<part name="parameters" element="tns:get_expenses"/>
</message>
<message name="get_expensesResponse">
<part name="parameters" element="tns:get_expensesResponse"/>
</message>
<message name="get_expenses_1">
<part name="parameters" element="tns:get_expenses_1"/>
</message>
<message name="get_expenses_1Response">
<part name="parameters" element="tns:get_expenses_1Response"/>
</message>
<portType name="NewWebService">
<operation name="get_Customer_1">
<input wsam:Action="http://WebServices/NewWebService/get_Customer_1Request" message="tns:get_Customer_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_Customer_1Response" message="tns:get_Customer_1Response"/>
</operation>
<operation name="get_Customer">
<input wsam:Action="http://WebServices/NewWebService/get_CustomerRequest" message="tns:get_Customer"/>
<output wsam:Action="http://WebServices/NewWebService/get_CustomerResponse" message="tns:get_CustomerResponse"/>
</operation>
<operation name="get_comment_1">
<input wsam:Action="http://WebServices/NewWebService/get_comment_1Request" message="tns:get_comment_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_comment_1Response" message="tns:get_comment_1Response"/>
</operation>
<operation name="get_comment">
<input wsam:Action="http://WebServices/NewWebService/get_commentRequest" message="tns:get_comment"/>
<output wsam:Action="http://WebServices/NewWebService/get_commentResponse" message="tns:get_commentResponse"/>
</operation>
<operation name="get_orders">
<input wsam:Action="http://WebServices/NewWebService/get_ordersRequest" message="tns:get_orders"/>
<output wsam:Action="http://WebServices/NewWebService/get_ordersResponse" message="tns:get_ordersResponse"/>
</operation>
<operation name="get_orders_1">
<input wsam:Action="http://WebServices/NewWebService/get_orders_1Request" message="tns:get_orders_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_orders_1Response" message="tns:get_orders_1Response"/>
</operation>
<operation name="get_location">
<input wsam:Action="http://WebServices/NewWebService/get_locationRequest" message="tns:get_location"/>
<output wsam:Action="http://WebServices/NewWebService/get_locationResponse" message="tns:get_locationResponse"/>
</operation>
<operation name="get_location_1">
<input wsam:Action="http://WebServices/NewWebService/get_location_1Request" message="tns:get_location_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_location_1Response" message="tns:get_location_1Response"/>
</operation>
<operation name="get_invoices_1">
<input wsam:Action="http://WebServices/NewWebService/get_invoices_1Request" message="tns:get_invoices_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_invoices_1Response" message="tns:get_invoices_1Response"/>
</operation>
<operation name="get_invoices">
<input wsam:Action="http://WebServices/NewWebService/get_invoicesRequest" message="tns:get_invoices"/>
<output wsam:Action="http://WebServices/NewWebService/get_invoicesResponse" message="tns:get_invoicesResponse"/>
</operation>
<operation name="get_vehicle">
<input wsam:Action="http://WebServices/NewWebService/get_vehicleRequest" message="tns:get_vehicle"/>
<output wsam:Action="http://WebServices/NewWebService/get_vehicleResponse" message="tns:get_vehicleResponse"/>
</operation>
<operation name="get_vehicle_1">
<input wsam:Action="http://WebServices/NewWebService/get_vehicle_1Request" message="tns:get_vehicle_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_vehicle_1Response" message="tns:get_vehicle_1Response"/>
</operation>
<operation name="get_pricing_1">
<input wsam:Action="http://WebServices/NewWebService/get_pricing_1Request" message="tns:get_pricing_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_pricing_1Response" message="tns:get_pricing_1Response"/>
</operation>
<operation name="get_pricing">
<input wsam:Action="http://WebServices/NewWebService/get_pricingRequest" message="tns:get_pricing"/>
<output wsam:Action="http://WebServices/NewWebService/get_pricingResponse" message="tns:get_pricingResponse"/>
</operation>
<operation name="get_employees">
<input wsam:Action="http://WebServices/NewWebService/get_employeesRequest" message="tns:get_employees"/>
<output wsam:Action="http://WebServices/NewWebService/get_employeesResponse" message="tns:get_employeesResponse"/>
</operation>
<operation name="get_employee">
<input wsam:Action="http://WebServices/NewWebService/get_employeeRequest" message="tns:get_employee"/>
<output wsam:Action="http://WebServices/NewWebService/get_employeeResponse" message="tns:get_employeeResponse"/>
</operation>
<operation name="get_truck_1">
<input wsam:Action="http://WebServices/NewWebService/get_truck_1Request" message="tns:get_truck_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_truck_1Response" message="tns:get_truck_1Response"/>
</operation>
<operation name="get_truck">
<input wsam:Action="http://WebServices/NewWebService/get_truckRequest" message="tns:get_truck"/>
<output wsam:Action="http://WebServices/NewWebService/get_truckResponse" message="tns:get_truckResponse"/>
</operation>
<operation name="get_expenses">
<input wsam:Action="http://WebServices/NewWebService/get_expensesRequest" message="tns:get_expenses"/>
<output wsam:Action="http://WebServices/NewWebService/get_expensesResponse" message="tns:get_expensesResponse"/>
</operation>
<operation name="get_expenses_1">
<input wsam:Action="http://WebServices/NewWebService/get_expenses_1Request" message="tns:get_expenses_1"/>
<output wsam:Action="http://WebServices/NewWebService/get_expenses_1Response" message="tns:get_expenses_1Response"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get_Customer_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_Customer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_comment_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_comment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_orders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_orders_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_location">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_location_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_invoices_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_invoices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_vehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_vehicle_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_pricing_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_pricing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_employees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_employee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_truck_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_truck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_expenses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_expenses_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/Project03_SOA_Group03/NewWebService"/>
</port>
</service>
</definitions>